.rwmb-background-row {
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.rwmb-background-wrapper .wp-picker-container {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.rwmb-background-wrapper .wp-picker-holder {
	position: absolute;
	z-index: 9;
	min-width: 255px;
}
.rwmb-background-wrapper .rwmb-select {
	flex: 1;
	margin-bottom: 5px;
	max-width: 100%;
}