/* =Styles for 'divider' field
-------------------------------------------------------------- */

.rwmb-meta-box h4 {
	display: block;
	font-size: .75rem;
	line-height: 1.4;
	text-transform: uppercase;
	padding: .75rem 0 .375rem;
	margin: 0;
}

.rwmb-meta-box hr {
	border: none;
	border-top: 1px solid rgb(230, 230, 230);
	line-height: 1;
	margin: 0;
}
