/* =Styles for 'divider' field
-------------------------------------------------------------- */

.rwmb-divider-wrapper {
	line-height: 1;
}

.rwmb-meta-box hr {
	border: none;
	border-top: 1px solid rgb(230, 230, 230);
}
