.rwmb-image-item .rwmb-media-preview {
	width: auto;
	float: none;
}

/* Image */
.rwmb-image-item.thumbnail {
	width: 150px;
}
.rwmb-image-item.medium {
	width: 300px;
}
.rwmb-image-item.large {
	width: 1024px;
}

.rwmb-media-bar {
	position: absolute;
	z-index: 10;
	right: 12px;
	top: 12px;
	color: #fff;
	opacity: 0;
	transition: opacity .2s;
}
.rwmb-media-bar a {
	text-decoration: none;
	color: inherit;
}
.rwmb-overlay {
	position: absolute;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
	background: #000;
	opacity: 0;
	transition: opacity .2s;
}
.rwmb-image-item:hover .rwmb-media-bar {
	opacity: 1;
}
.rwmb-image-item:hover .rwmb-overlay {
	opacity: .6;
}
