.rwmb-image-select {
	width: 80px;
	height: 80px;
	float: left;
	margin: 0 8px 8px 0;
	border: 3px solid #d8d8d8;
	border-radius: 4px;
	padding: 1px;
	cursor: pointer;

	--color: #2271b1;
}

.block-editor-page .rwmb-image-select {
	--color: var(--wp-admin-theme-color, #2271b1);
}

.rwmb-image-select img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rwmb-image-select:hover,
.rwmb-image-select:has(:checked) {
	border-color: var(--color);
}

.rwmb-image_select.rwmb-image_select {
	display: none;
}
