/* Uploaded image */
.rwmb-images {
	overflow: hidden;
}
.rwmb-images li {
	margin: 0 10px 10px 0;
	float: left;
	width: 150px;
	height: 100px;
	text-align: center;
	border: 3px solid #ccc;
	cursor: move;
	position: relative;
}
.rwmb-images img {
	width: 150px;
	height: 100px;
}
.rwmb-images a {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	background: #000;
	font-weight: bold;
	padding: 5px;
}
