/* Uploaded image */
.rw-images li {
	margin: 0 10px 10px 0;
	float: left;
	width: 150px;
	height: 100px;
	text-align: center;
	border: 3px solid #ccc;
	cursor: move;
	position: relative;
}
.rw-images img {
	width: 150px;
	height: 100px;
}
.rw-images a {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	background: #000;
	font-weight: bold;
	padding: 5px;
}

/* Upload button */
.rw-upload-button {
	float: left;
	clear: both;
	margin-top: 10px;
}
