.rwmb-toggle-all-wrapper {
	margin-top: 0;
}
.rwmb-input-list {
	line-height: 1.8;
}
.rwmb-input-list .rwmb-input-list {
	margin-left: 20px;
}
.rwmb-input-list > label {
	display: block;
}
.rwmb-input-list.rwmb-inline {
	line-height: inherit;
	display: flex;
	flex-wrap: wrap;
	gap: 6px 12px;
}

/* Media modal */
.attachment-details .compat-attachment-fields .rwmb-input-list > label > input {
	margin: 0 0.25rem 0 0;
}
.compat-attachment-fields .rwmb-input-list.rwmb-inline {
	gap: 10px;
}
