.rwmb-media-list:empty {
	display: none;
}
.rwmb-media-list:not(:empty) {
	display: block;
	margin: -8px 0 0 -8px;
	overflow: hidden;
}
.rwmb-media-item.attachment {
	float: none;
	text-align: left;
	width: auto;
	overflow: hidden;
}
.rwmb-media-preview {
	width: 60px;
	float: left;
	position: relative;
}
.rwmb-media-info {
	margin-left: 65px;
}
.rwmb-media-info a {
	text-decoration: none;
}
.rwmb-media-info p,
.rwmb-media-info h4 {
	margin: 0 0 2px;
}
.rwmb-edit-media,
.rwmb-remove-media {
	font-size: 11px;
	color: inherit;
}
.rwmb-media-info .dashicons {
	font-size: 12px;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

/* Add more button */
.rwmb-media-view .rwmb-add-media {
	padding-left: 5px;
	margin-right: 5px;
}
