.rwmb-media-list {
	margin: 0;
	overflow: hidden;
}
.rwmb-edit-media,
.rwmb-remove-media {
	color: inherit;
	text-decoration: none;
}
.rwmb-edit-media:after {
	content: "|";
	color: #dcdcde;
	margin: 0 6px;
}
.rwmb-remove-media {
	color: #b32d2e;
}