.rwmb-modal-add-button {
	display: inline-block;
	margin-top: 6px;
}

/* Mimic style of media modal */
.rwmb-modal {
    width: 80%;
    max-width: 800px;
    padding: 0;
}

.rwmb-modal::backdrop {
	background: #000;
	opacity: 0.7;
}

.rwmb-modal-title {
	background: #f0f0f1;
	border-bottom: 1px solid #c3c4c7;
	position: relative;
}

.rwmb-modal-title h2 {
	font-size: 22px;
	line-height: 50px;
	padding: 0 20px;
	margin: 0;
}

.rwmb-modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	font-size: 22px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: #646970;
	z-index: 1000;
	cursor: pointer;
	outline: none;
	transition: color .1s ease-in-out;
}
.rwmb-modal-close:hover,
.rwmb-modal-close:active {
	color: #135e96;
}