.rwmb-password-wrapper{
	position: relative;
}
.rwmb-password-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
