.rwmb-password-wrapper .rwmb-input {
	position: relative;
}

.rwmb-password-toggle {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	width: 36px;
	height: 36px;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rwmb-password-toggle svg {
	width: 20px;
	height: 20px;
	fill: #2C3338;
}