.rwmb-field .select2-container {
	height: auto;
	min-width: 200px;
	max-width: 100%;
}
#wpbody .rwmb-select-all {
	display: block;
	margin-top: 5px;
}
#wpbody .select2-selection--single,
#wpbody .select2-selection--multiple,
.select2-dropdown {
	border-color: #ddd;
}
.select2-results__option {
	margin-bottom: 0;
}
.select2-container .select2-search--inline {
	margin-bottom: 0;
}
