.rwmb-slider {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.rwmb-slider-value-label {
	margin-left: 10px;
	vertical-align: middle;
}

.ui-slider .ui-slider-handle {
	z-index: 1;
}