/* style switch
-----------------------------*/
.rwmb-switch-label {
	position: relative;
	display: inline-block;
	background-color: #ccc;
	padding: 2px;
	border-radius: 3px;
	min-width: 40px;
	height: 22px;
	box-sizing: border-box;
}

.rwmb-switch.rwmb-switch {
	display: none;
}

.rwmb-switch:checked + .rwmb-switch-status .rwmb-switch-slider {
	background-color: #0073aa;
	box-shadow: 0 0 1px #0073aa;
}

.rwmb-switch:checked + .rwmb-switch-status .rwmb-switch-slider:before {
	left: calc(100% - 20px);
}

.rwmb-switch:checked + .rwmb-switch-status .rwmb-switch-off {
	visibility: hidden;
	display: none;
}

.rwmb-switch:not(:checked) + .rwmb-switch-status .rwmb-switch-on {
	visibility: hidden;
	display: none;
}

.rwmb-switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	-webkit-transition: .4s;
	transition: .4s;
}

.rwmb-switch-slider:before {
	position: absolute;
	content: attr(title-before) "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 2px;
	z-index: 99;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 2px;
}

.rwmb-switch-label--square .rwmb-switch-slider {
	border-radius: 3px;
}

.rwmb-switch-label--rounded,
.rwmb-switch-label--rounded .rwmb-switch-slider {
	border-radius: 34px;
}

.rwmb-switch-label--rounded .rwmb-switch-slider:before {
	border-radius: 50%;
}

.rwmb-switch-on,
.rwmb-switch-off {
	display: inline-block;
	float: left;
	margin: 0 4px;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	position: relative;
	z-index: 20;
}

.rwmb-switch-on {
	padding-right: 20px;
}

.rwmb-switch-off {
	padding-left: 20px;
}
