.rwmb-upload-area {
	height: 200px;
	border: 4px dashed #ddd;
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}
.rwmb-upload-inside h3 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 400;
	margin: 0;
}
.rwmb-upload-inside p {
	margin: .5em 0;
}