.rwmb-upload-area {
    height: 200px;
    border: 4px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rwmb-upload-inside h3 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
}

.rwmb-upload-inside p {
    margin: .5em 0;
}

.rwmb-media-progress {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.rwmb-media-progress .progress {
    position: relative;
    height: 35px;
}

.rwmb-media-progress .progress progress {
    width: 100%;
    height: 35px;
    position: absolute;
}

.rwmb-media-progress .progress .progress-label {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
}