.rwmb-upload-area {
  position: relative;
  padding-top: 0;
  margin-top: 0;
  height: 200px;
  border: 4px dashed #ddd;
}

.rwmb-upload-inside {
  text-align: center;
  position: absolute;
  left: 0;
  right:0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin-top:
}

.rwmb-upload-inside p, .rwmb-upload-inside h3 {
  text-align: center;
}

.rwmb-upload-inside h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}
