.rwmb-field .mceIframeContainer {
	background: #fff;
}
.rwmb-wysiwyg-clone {
	padding-top: 20px;
}

/* Fix both tinymce & quick tags display together (somehow) */
.html-active .mce-container {
	display: none;
}

/* Fix style for Gutenberg */
.block-editor .wp-editor-wrap {
	box-sizing: content-box;
}

/* Fix fullscreen mode still shows admin menu */
div.mce-fullscreen {
	z-index: 999999;
}