.rwmb-block-editor {
	border: 1px solid #ddd;
	display: flex;
	flex-direction: column;

	&__toolbar {
		border-bottom: 1px solid #ddd;
		height: 46px;
		padding-inline: 8px;
		box-sizing: border-box;

		.components-accessible-toolbar.block-editor-block-contextual-toolbar {
			box-shadow: none;
		}
	}

	&__main {
		flex: 1;
	}

	&__content {
		flex: 1;
		padding-inline: 8px;
		box-sizing: border-box;
	}

	&__sidebar {
		width: 240px;
		border-left: 1px solid #ddd;
		box-sizing: border-box;
	}

	#poststuff & .block-editor-block-inspector h2,
	#poststuff & .block-editor-block-inspector h3 {
		padding: 0;
	}

	&--fullscreen {
		position: fixed;
		inset: 0;
		z-index: 99999; // Same as popover component (inserter) and admin bar
		background: #fff;

		.rwmb-block-editor__content > div {
			height: 100% !important;
		}
	}
}

.components-popover__content {
	overflow-x: hidden !important;
}