.about-wrap .wp-badge {
	background-image: url(../images/meta-box.png);
	background-color: #fff;
	color: #222;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.wp-badge:hover {
	text-decoration: none;
}

.about-buttons .dashicons {
	position: relative;
	top: 5px;
	width: 16px;
	height: 16px;
	font-size: 16px;
}

/* Newsletter */
.newsletter {
	margin: 40px 0;
	border: 3px dashed #999;
	padding: 15px;
	display: inline-block;
}
.newsletter p {
	margin-top: 0;
}

.feature-section.two-col {
	align-items: flex-start;
}

.feature-section.two-col h3:not(:first-child) {
	margin-top: 3em;
}

.feature-section img {
	display: block;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.nav-tab-active:focus {
	box-shadow: none;
}

.gt-tab-pane {
	display: none;
}

.gt-is-active {
	display: block;
}

.screenshot {
	display: block;
	margin: 3em auto;
}
.col ul {
	font-size: 14px;
	margin: 2em 0;
}

.col li a {
	text-decoration: none;
}

.col .dashicons {
	color: #82878c;
	padding-right: 5px;
	font-size: 16px;
	vertical-align: middle;
}

/* Extensions tab */
.theme-browser {
	margin-top: 40px;
}
.theme-browser .theme {
	text-decoration: none;
}
.theme-browser .theme .more-details {
	top: 0;
	left: 0;
	right: 0;
	bottom: 48px;
	border-radius: 0;
	line-height: 1.7;
	display: flex;
	align-items: center;
	transition: opacity .3s;
}
@media (min-width: 1640px) {
	.theme-browser .theme {
		width: 30.6%;
		margin: 0 4% 4% 0;
	}
	.theme-browser .theme:nth-child(4n) {
		margin-right: 4%;
	}
	.theme-browser .theme:nth-child(3n) {
		margin-right: 0;
	}
}
