# Normalize EOL=LF
* text=auto

# Ignore files when export
demo export-ignore
tests export-ignore
.DS_Store export-ignore
Thumbs.db export-ignore
*.yml export-ignore
*.xml export-ignore
*.json export-ignore
*.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
languages/*.po export-ignore
languages/*.pot export-ignore
languages/*.md export-ignore
