# Normalize EOL=LF
* text=auto

# Ignore files when export
.DS_Store export-ignore
Thumbs.db export-ignore

tests export-ignore

.distignore export-ignore

.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore

composer.json export-ignore
composer.lock export-ignore

package.json export-ignore
package-lock.json

phpcs.xml export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore

README.md export-ignore

src/Dashboard/assets/css/dashboads.scss export-ignore