// Overwrite general WordPress styles

body.wp-admin {
	background: #f8fafc; // slate-50
}

div#wpcontent {
	padding-left: 0;
}

// Do not show any notices here.
.notice {
	display: none;
}


// Our dashboard

.mb-dashboard {
	--mb-color-accent: #00b1b3;
	--mb-color-link: var(--mb-color-accent);
	--mb-border: 1px solid #cbd5e1; // slate-300

	font-size: 14px;
	color: #334155; // slate-700


	// Common elements

	a {
		text-decoration: none;
		color: var(--mb-color-link);

		&:hover {
			color: var(--mb-color-link);
			text-decoration: underline;
		}

		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
		}
	}

	p {
		font-size: 14px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	tr {
		border-bottom: 1px solid #e2e8f0; // slate-200

		&:hover {
			background: #f8fafc; // slate-50
		}
	}

	th,
	td {
		padding-block: 12px;
	}

	&__button {
		--mb-color-link: #fff;

		display: inline-block;
		background: var(--mb-color-accent);
		padding: 16px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		letter-spacing: .025em;
		white-space: nowrap;
		border-radius: 4px;
		text-decoration: none;

		&.mb-dashboard__button:hover {
			color: #fff;
			opacity: .9;
			text-decoration: none;
		}

		&:focus,
		&:active {
			color: #fff;
		}
	}

	.mb-hidden {
		display: none;
	}

	&__external {
		display: inline-flex;
		align-items: center;
		gap: 4px;

		svg {
			width: 1em;
			height: 1em;
			fill: currentColor;
		}
	}

	&__body {
		display: flex;
		gap: 48px;
		padding: 48px;
		max-width: 1280px;
		margin-inline: auto;
	}


	// Header

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px;
		background: #fff;
		border-bottom: 1px solid #e2e8f0; // slate-200

		&__search[type="text"] {
			width: 480px;
			background: #f1f5f9; // slate-100
			border: none;
		}

		&__actions {
			display: flex;
			align-items: center;
			gap: 16px;

			svg {
				width: 24px;
				height: 24px;
				fill: #475569;
			}
		}

		.mb-dashboard__logo {
			svg {
				display: block;
				width: auto;
				height: 46px;
			}
		}
	}

	// Main area
	&__main {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	// Actions
	&__actions {
		&__title {
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .025em;
			line-height: 1;
			margin-bottom: 16px;
		}

		&__inner {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
		}
	}

	&__action {
		display: flex;
		gap: 16px;
		align-items: center;
		border-radius: 8px;
		border: var(--mb-border);
		padding: 24px;
		background: #fff;
		box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); // shadow-lg
		position: relative;
		top: 0;
		transition: all .2s ease;

		svg {
			width: 32px;
			height: 32px;
			fill: #cbd5e1; // slate-200
		}

		&__title {
			display: block;
			margin-bottom: 4px;
			color: #0f172a; // slate-900
			font-weight: 600;
			font-size: 16px;
		}

		&__description {
			color: #64748b; // slate-500;
		}
	}

	&__action.mb-dashboard__action:hover {
		text-decoration: none;
		top: -8px;
	}

	// Tabs
	&__info {
		background: #fff;
		border-radius: 8px;
		border: var(--mb-border);
	}

	&__tabs {
		display: flex;
		gap: 24px;
		border-bottom: var(--mb-border);
		font-size: 14px;
		padding-inline: 24px;
	}

	&__tab {
		display: block;
		padding-block: 16px;
		border-bottom: 3px solid transparent;
		font-weight: 600;
		color: #0f172a; // slate-900
		cursor: pointer;

		&--active {
			border-color: var(--mb-color-accent);
		}

		&__badge {
			background: var(--mb-color-accent);
			color: #fff;
			font-size: 10px;
			display: inline-block;
			line-height: 1;
			padding: 4px;
			border-radius: 2px;
			position: relative;
			top: -12px;
		}
	}

	&__tab-pane {
		padding: 24px;
	}

	// Tutorials
	&__tutorials {
		a {
			color: inherit;
		}

		&__inner {
			display: grid;
			gap: 24px;
			grid-template-columns: repeat(2, 1fr);
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}

		&__title {
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .025em;
			line-height: 1;
			margin-bottom: 16px;
		}
	}

	&__tutorial {
		display: flex;
		align-items: center;
		gap: 16px;

		&__image {
			position: relative;

			.tobii-zoom__icon {
				display: none;
			}

			&:after {
				position: absolute;
				top: calc(50% - 9px);
				left: calc(50% - 16px);
				content: "\f19b";
				font-family: "dashicons";
				font-size: 32px;
				color: #ff0000;
			}
		}

		img {
			width: 90px;
			height: auto;
			display: block;
			border-radius: 8px;
		}

		.mb-dashboard__tutorial__title {
			font-size: 16px;
			font-weight: 600;
			color: #0f172a; // slate-900
			margin-bottom: 8px;
			display: block;
		}

		&__description {
			font-size: 12px;
			color: #64748b;
		}
	}

	// Comparing tab and table
	&__compare {
		&__header {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 24px;
			margin-block: 24px;
		}

		&__title {
			font-size: 20px;
			font-weight: 600;
			color: #0f172a; // slate-900
		}

		tbody svg {
			width: 20px;
			height: 20px;
		}

		&__footer {
			margin-top: 48px;
			background: #f1f5f9; // slate-50
			padding: 48px;
			text-align: center;
			border-radius: 8px;

			p {
				font-size: 16px;
				margin-bottom: 24px;
			}
		}
	}

	// Sidebar

	&__sidebar {
		flex-basis: 360px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-top: 30px;
	}

	&__widget {
		border: var(--mb-border);
		border-radius: 8px;
		background: #fff;
		padding: 24px;
		// box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); // shadow-lg
		// position: relative;
		// top: 0;
		// transition: all .2s ease;

		// &:hover {
		// 	top: -8px;
		// }

		&-title {
			font-weight: 600;
			font-size: 16px;
			color: #0f172a; // slate-900
			margin-bottom: 18px;
			margin-top: -4px;
		}

		&-body {
			>p:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Upgrade widget
	&__upgrade {
		border: none;
		background: linear-gradient(135deg, rgba(0, 182, 182, 1) 0%, rgba(43, 68, 91, 1) 100%);
		color: #fff;

		.mb-dashboard__widget-title {
			color: inherit;
		}

		ul {
			margin-bottom: 12px;
		}

		li {
			display: flex;
			gap: 4px;
			align-items: center;
		}

		svg {
			width: 16px;
			height: 16px;
			fill: #fff;
		}

		a {
			display: block;
			text-align: center;
		}
	}

	// Recommended plugins widget
	&__plugins .mb-dashboard__widget-body {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__plugin {
		display: flex;
		align-items: center;
		gap: 8px;
		position: relative;

		img {
			width: 32px;
			height: 32px;
		}

		&__text {
			flex: 1;
		}

		&__title {
			font-weight: 600;
			color: #0f172a; // slate-900
		}

		&__description {
			font-size: 12px;
			color: #64748b; // slate-500
		}

		&__status {
			font-size: 12px;
			font-weight: 600;
			display: inline-flex;
			align-items: center;
			gap: 4px;
			position: absolute;
			right: 0;
			top: -4px;
			padding: 2px 6px;
			border-radius: 4px;
			border: 1px solid transparent;

			&:before {
				display: inline-block;
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: currentColor;
			}

			&[data-action="install"] {
				color: #64748b; // slate-500
				border-color: currentColor;
				cursor: pointer;
			}

			&[data-action="activate"] {
				color: #f59e0b; // amber-500
				border-color: currentColor;
				cursor: pointer;
			}

			&[data-action=""] {
				color: #16a34a; // green-600
			}
		}
	}
}